PORT=3000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/trip_booking
JWT_SECRET=your_super_secret_jwt_key_here
JWT_EXPIRES_IN=7d
SQL_HOST=localhost
SQL_USER=root
SQL_PASSWORD=
SQL_DATABASE=trip_booking_sql
SQL_PORT=3306
